[submodule "webtunnel"]
	path = webtunnel
	url = https://git.chimmie.k.vu/Tor/webtunnel
[submodule "onbasca"]
	path = onbasca
	url = https://git.chimmie.k.vuTor/onbasca
[submodule "bridgestrap"]
	path = bridgestrap
	url = https://git.chimmie.k.vu/Tor/bridgestrap
[submodule "rdsys"]
	path = rdsys
	url = https://git.chimmie.k.vu/Tor/rdsys
[submodule "torbridge-cli"]
	path = torbridge-cli
	url = https://git.chimmie.k.vu/GamePlayer-8/torbridge-cli
